body {
    font-family: Arial, sans-serif;
}
strong{
    text-align: center;
}
h2{
    display: center;
}
.container {
    display: flex;
}
.box{
    margin:10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}


input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
button[type="reset"]{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    background-color: #af4c4c;
    color: white;
    border: none;
    cursor: pointer;
}
button  {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
